<script setup lang="ts">
import SpinningLoader from '~icons/svg-spinners/ring-resize'
</script>

<template>
    <div class="flex justify-center align-middle px-5 opacity-40">
        <SpinningLoader class="w-[38px] h-[38px]" />
    </div>
</template>