<script setup lang="ts">
const { t } = useI18n();

useHead({
	title: t("pages.notFound"),
});

</script>

<template>
	<h1 class="text-indigo-500 font-extrabold flex flex-col text-center h-full justify-center">
		<span class="text-7xl">404.</span>
		<span class="text-5xl mt-5">{{ t('pages.notFound') }}</span>
	</h1>
</template>

<route lang="yaml">
name : not-found
meta:
    layout: 404
</route>
