<script setup lang="ts">
import useStore from "@/store/store";

import Loading3 from "@/components/states/loading-states/Loading3.vue";
import ChatInit from "@/components/Home/ChatInit/ChatInit.vue";

const store = useStore();

// the active component or loading component.
const activeComponent = computed(() => {
    if (store.status === "loading") {
        return Loading3;
    } else {
        return ChatInit;
    }
});

onBeforeMount(async () => {
    console.log('Component mounted', new Date().getTime());
    store.setStatus("step1");
});
</script>

<template>
    <KeepAlive>
        <div class="xs:relative md:static h-full flex xs:flex-col md:flex-row overflow-hidden">
            <div id="mainContent"
                class="xs:absolute flex xs:z-10 md:static grow h-full xs:w-full md:w-fit scrollbar-hidden bg-off-white dark:bg-gray-800 transition-all duration-500 xs:left-[0px] justify-center"
                role="region">
                <FadeTransition>
                    <component :is="activeComponent" />
                </FadeTransition>
            </div>
        </div>
    </KeepAlive>
</template>

<route lang="yaml">
    name: home
</route>