<script setup lang="ts">
import useStore from "@/store/store";
import { useRouter } from "@vue-router";

const store = useStore();
const router = useRouter();

const navigateHome = () => {
    store.status = "step1";
    router.push({ path: `/` })
}
</script>

<template>
    <div class="mb-7 h-7 xs:hidden md:block">
        <button aria-label="avian logo" @click="navigateHome" class="outline-none">
            <img src="@/assets/avatar-smile-big.svg" class="w-12" alt="gray bird logo" />
        </button>
    </div>
</template>
