<script setup lang="ts">

import useStore from "@/store/store";
import avatarSmileGrin from "@/assets/avatar-smile-grin.svg"

import SunIcon from '~icons/ph/sun-fill'
import MoonIcon from '~icons/ph/moon-fill'
import SettingsIcon from '~icons/ph/gear-fill'

const store = useStore();

</script>

<template>
    <div
        class="xs:w-full md:w-11 md:h-full md:py-5 xs:py-5 px-5 flex xs:flex-row md:flex-col items-center bg-white dark:bg-gray-900">
        <!--logo-->
        <Logo />

        <div class="grow"></div>

        <nav aria-label="Extra navigation" class="xs:hidden md:block">
            <ul>
                <!--toggle dark mode button-->
                <li>
                    <NavLink :icon="store.settings.darkMode ? SunIcon : MoonIcon" title="Night mode"
                        @click="store.setDarkMode(!store.settings.darkMode)" />
                </li>
            </ul>
        </nav>
    </div>
</template>
