<script setup lang="ts">
import useStore from "@/store/store";
import { useRouter } from "@vue-router";

const store = useStore();
const router = useRouter();

const props = defineProps<{
    openModal: boolean;
    closeModal: () => void;
}>();

const goBackHome = () => {
    props.closeModal();
    router.push({ path: `/` })
}
</script>

<template>
    <ErrorModal :title="$t('error.connectionLostHeader')"
        :content="store.isRetryingForConnection() ? $t('error.connectionLostBody') : $t('error.connectionLostContinue')"
        :open="props.openModal" :closeModal="goBackHome">
        <template v-slot:action>
            <div class="px-5">
                <Button @button-clicked="goBackHome" class="w-full py-4" color="danger"
                    :loading="store.isRetryingForConnection()"> {{ store.isRetryingForConnection() ? $t("ui.waiting") :
                        $t("ui.continue") }} </Button>
            </div>
        </template>
    </ErrorModal>
</template>
