<script setup lang="ts">
import useStore from "@/store/store";

const store = useStore();

const props = defineProps<{
    title: string;
    content: string;
    open: boolean;
    closeModal: () => void;
}>();
</script>

<template>
    <Modal :open="props.open" :closeModal="props.closeModal">
        <template v-slot:content>
            <div class="w-[500px] bg-white dark:bg-gray-800 rounded py-6">
                <!--modal header-->
                <div class="flex items-center align-middle px-5" :dir="store.dir">
                    <icon-ph-x-circle-light class="w-[24px] h-[24px] text-red-500" />
                    <Typography id="modal-title" variant="heading-1" class="default-outline ml-2">
                        {{ props.title }}
                    </Typography>
                </div>

                <!--modal content-->
                <Typography id="modal-content" variant="body-2" class="default-outline px-5 mt-6 mb-6"
                    style="white-space: pre-wrap;">
                    {{ props.content }}
                </Typography>

                <slot name="action"></slot>
            </div>
        </template>
    </Modal>
</template>
