<script setup lang="ts">
const props = defineProps<{
    openModal: boolean;
    closeModal: () => void;
}>();
</script>

<template>
    <ErrorModal :title="$t('error.noAnswerHeader')"
        :content="`${$t('error.noAnswerBody1')}\n\n${$t('error.noAnswerBody2')}`" :open="props.openModal"
        :closeModal="props.closeModal">
        <template v-slot:action>
            <div class="px-5">
                <Button @click="props.closeModal" class="w-full py-4" color="danger"> {{ $t("ui.close") }} </Button>
            </div>
        </template>
    </ErrorModal>
</template>
