<script setup lang="ts">
import useStore from "@/store/store";

const store = useStore();
</script>

<template>
    <div v-if="store.conversation" class="h-full xs:w-11/12 md:w-2/3 flex flex-col scrollbar-hidden">
        <ChatMiddle />
        <ChatBottom />
    </div>
</template>
