<script setup lang="ts">
import type { Ref } from "vue";
import { vOnClickOutside } from '@vueuse/components'
import useStore from "@/store/store";

const store = useStore();

// the content of the message.
const value: Ref<string> = ref("");

// open emoji picker.
const showPicker = ref(false);

// close picker when you click outside.
const handleClickOutside = (event: any) => {
	let target = event.target as HTMLElement;
	let parent = target.parentElement as HTMLElement;

	if (
		target &&
		!target.classList.contains("toggle-picker-button") &&
		parent &&
		!parent.classList.contains("toggle-picker-button")
	) {
		showPicker.value = false;
	}
};

const sendMessage = () => {
	store.sendMessage({
		id: 0,
		type: "message",
		content: value.value,
		date: new Date(Date.now()).toISOString(),
		sender: store.user!,
		corrections: [],
		hasCorrectionsError: false
	})
	value.value = "";
};

const addEmoji = (emoji: string) => {
	value.value = value.value + emoji;
}

onMounted(() => {
	value.value = store.conversation?.draftMessage || "";
});
</script>

<template>
	<div class="w-full">
		<div class="h-auto min-h-[84px] p-4 flex items-center" v-if="store.status !== 'loading'">
			<!--message textarea-->
			<div class="grow md:mr-5 xs:mr-4 self-end">
				<div class="relative">
					<Textarea @handle-enter="sendMessage" v-model="value" :value="value"
						:disabled="store.isWaitingForResponse" class="max-h-[80px] pr-[50px] resize-none scrollbar-hidden"
						auto-resize cols="30" rows="1" :placeholder="$t('chat.messagePlaceholder')"
						aria-label="Write your message here"></Textarea>

					<!--emojis-->
					<div class="absolute bottom-[17px] right-0">
						<!--emoji button-->
						<IconButton :disabled="store.isWaitingForResponse" title="toggle emoji picker"
							aria-label="toggle emoji picker" @click="showPicker = !showPicker"
							class="toggle-picker-button group w-7 h-7 md:mr-5 xs:mr-4">
							<icon-ph-x-circle-light v-if="showPicker"
								class="w-[20px] h-[20px] text-gray-400 group-hover:text-indigo-300" />
							<icon-ph-smiley v-else class="w-[20px] h-[20px] text-gray-400 group-hover:text-indigo-300" />
						</IconButton>

						<!--emoji picker-->
						<ScaleTransition>
							<div v-on-click-outside="handleClickOutside" v-show="showPicker"
								class="absolute z-10 bottom-[55px] md:right-0 xs:right-[-80px] mt-2">
								<div role="none">
									<EmojiPicker @emoji-click="addEmoji" :show="showPicker" />
								</div>
							</div>
						</ScaleTransition>
					</div>
				</div>
			</div>

			<div class="min-h-[44px] flex">
				<!--send message button-->
				<IconButton @click="sendMessage" :disabled="store.isWaitingForResponse"
					class="group w-[36px] h-[36px] bg-indigo-300 hover:bg-indigo-400 focus:bg-indigo-400 dark:focus:bg-indigo-300 dark:bg-indigo-400 dark:hover:bg-indigo-400 active:scale-110"
					variant="ghost" title="send message" aria-label="send message">
					<icon-ph-paper-plane-tilt class="w-[17px] h-[17px] text-white" />
				</IconButton>
			</div>
		</div>
	</div>
</template>

<style>
input[placeholder="Search emoji"] {
	background: rgba(0, 0, 0, 0);
}

.v3-emoji-picker .v3-header {
	border-bottom: 0;
}

.v3-emoji-picker .v3-footer {
	border-top: 0;
}
</style>
