<script setup lang="ts">
import type { IMessage } from "@/types/types";
import type { Ref } from "vue";

import useStore from "@/store/store";
import { debounce } from "@/utils"

const store = useStore();
const container: Ref<HTMLElement | null> = ref(null);
let previousScrollTop: number = 0;

// checks whether the message is sent by the user.
const isSelf = (message: IMessage): boolean => {
    return Boolean(store.user && message.sender.id === store.user.id);
};

// checks if the user is at the bottom of the chat
const isUserAtBottom = () => {
    const containerElement = container.value as HTMLElement;
    const tolerance = 200;

    return (
        containerElement.scrollTop + containerElement.clientHeight >=
        containerElement.scrollHeight - tolerance
    );
}

const scrollToBottom = () => {
    nextTick(() => {
        const element = (container.value as HTMLElement);
        element.scrollTo(0, element.scrollHeight);
    });
}

const debouncedFetchMessages = debounce(store.fetchMessages, 500);
const handleScroll = () => {
    const containerElement = container.value as HTMLElement;
    const tolerance = 10;

    if (!store.isLoadingMessages && containerElement.scrollTop < previousScrollTop && containerElement.scrollTop <= tolerance) {
        store.isLoadingMessages = true;
        debouncedFetchMessages(store.conversation!.id, 20, store.conversation!.messages.length)
    }

    previousScrollTop = containerElement.scrollTop;
}

watch(
    () => store.conversation!.messages,
    (newMessages, oldMessages) => {
        console.log("Watcher triggered");
        if (isUserAtBottom()) {
            scrollToBottom();
        }
    },
    { deep: true }
);

// scroll messages to bottom.
onMounted(() => {
    scrollToBottom();
});
</script>

<template>
    <div ref="container" @scroll="handleScroll"
        class="scroll-container-messages grow px-5 py-10 mx-[-52px] flex flex-col overflow-y-scroll scrollbar-hidden scroll-smooth">
        <Spinner v-if="store.isLoadingMessages" />

        <TransitionGroup name="slide-up">
            <Message v-for="message in store.conversation!.messages" :key="message.id" :message="message"
                :self="isSelf(message)" />
        </TransitionGroup>
    </div>
</template>

<style>
.slide-up-move,
.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.2s;
}

.slide-up-enter-from {
    opacity: 0;
    transform: translateY(30px);
}

.slide-up-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.slide-up-leave-active {
    position: absolute;
}
</style>