<script setup lang="ts">
import type { IMessage } from "@/types/types";
import { vOnClickOutside } from '@vueuse/components'

const props = defineProps<{
    message: IMessage;
    show: boolean;
    left: number;
    top: number;
    handleCloseContextMenu: () => void;
}>();
</script>

<template>
    <div v-on-click-outside="handleCloseContextMenu">
        <Dropdown :close-dropdown="handleCloseContextMenu" :show="show" :coordinates="{
            left: props.left + 'px',
            top: props.top + 'px',
        }" :position="['top-0']">

            <DropdownItem :handle-click="() => {
                handleCloseContextMenu();
                $emit('translate-clicked');
            }
                ">
                <icon-ph-translate class="h-5 w-5 mr-3" />
                {{ $t("chat.translate") }}
            </DropdownItem>

            <DropdownItem :handle-click="() => {
                handleCloseContextMenu();
                $emit('explain-clicked');
            }
                ">
                <icon-ph-info class="h-5 w-5 mr-3" />
                {{ $t("chat.explain") }}
            </DropdownItem>
        </Dropdown>
    </div>
</template>
