<script setup lang="ts">
import { vOnClickOutside } from '@vueuse/components'

const props = defineProps<{
    show: boolean;
    handleClickOutside: any;
    coordinates: {
        left: string;
        top: string;
    };
    position: string[];
    header: string;
    correctionType: "correction-spelling" | "correction-grammar" | "correction-style";
    title: string;
    body: string;
    closeTooltip: () => void;
}>();

const dropdown = ref();

const handleCloseOnEscape = (event: KeyboardEvent) => {
    if (["Escape", "Esc"].includes(event.key)) {
        props.closeTooltip();
    }
};

onMounted(() => {
    document.addEventListener("keydown", handleCloseOnEscape);
});

onUnmounted(() => {
    document.removeEventListener("keydown", handleCloseOnEscape);
});

const computedClass = computed(() => {
    if (props.correctionType === "correction-spelling") {
        return "bg-red-200"
    } else if (props.correctionType === "correction-grammar") {
        return "bg-yellow-200"
    } else if (props.correctionType === "correction-style") {
        return "bg-indigo-200"
    } else {
        return "";
    }
})
</script>

<template>
    <div v-on-click-outside="props.handleClickOutside">
        <ScaleTransition>
            <div :class="props.position" :style="props.coordinates" v-show="props.show"
                class="absolute z-[100] w-[260px] mt-2 p-4 space-y-3 rounded-sm bg-white dark:bg-gray-800 shadow-lg border border-gray-100 dark:border-gray-600 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <Typography variant="body-3" class="outline-none text-gray-700 dark:text-gray-700 p-2 rounded-sm"
                    :class="computedClass">
                    {{
                        props.header }}
                </Typography>
                <Typography variant="body-1" noColor
                    class="outline-none text-gray-700 dark:text-gray-200 block border-t pt-3"> {{
                        props.title }}
                </Typography>
                <Typography variant="body-4" noColor class="outline-none text-gray-700 dark:text-gray-200 block"> {{
                    props.body }}
                </Typography>
            </div>
        </ScaleTransition>
    </div>
</template>
