<script setup lang="ts">
import { vOnClickOutside } from '@vueuse/components'

const props = defineProps<{
    show: boolean;
    handleClickOutside: any;
    coordinates: {
        left: string;
        top: string;
    };
    position: string[];
    closeTooltip: () => void;
}>();


const handleCloseOnEscape = (event: KeyboardEvent) => {
    if (["Escape", "Esc"].includes(event.key)) {
        props.closeTooltip();
    }
};

onMounted(() => {
    document.addEventListener("keydown", handleCloseOnEscape);
});

onUnmounted(() => {
    document.removeEventListener("keydown", handleCloseOnEscape);
});
</script>

<template>
    <div v-on-click-outside="props.handleClickOutside">
        <ScaleTransition>
            <div :class="props.position" :style="props.coordinates" v-show="props.show"
                class="absolute z-[100] w-[260px] mt-2 p-4 space-y-3 rounded-sm bg-white dark:bg-gray-800 shadow-lg border border-gray-100 dark:border-gray-600 focus:outline-none">
                <Typography variant="body-4" noColor class="outline-none text-gray-700 dark:text-gray-200 block"> {{
                    $t("error.correctionsError") }}
                </Typography>
            </div>
        </ScaleTransition>
    </div>
</template>
