<script setup lang="ts">
import type {
    IMessage,
} from "@/types/types";
import type { Ref } from "vue";
import { toast } from 'vue3-toastify';
import useStore from "@/store/store";
import { getFullName } from "@/utils";
import avatarSmileBig from "@/assets/avatar-smile-big.svg"
import avatarSmileGrin from "@/assets/avatar-smile-grin.svg"
import ThreeDotsLoader from '~icons/svg-spinners/3-dots-fade'

const props = defineProps<{
    message: IMessage;
    self: boolean;
}>();

const { t } = useI18n();
const store = useStore();

const handleExplanationClick = async (contextMenuContent: string) => {
    if (store.isWaitingForExplanation) {
        showExplanationErrorToast();
        return;
    }
    const offset = props.message.content.indexOf(contextMenuContent);
    const length = contextMenuContent.length;
    const success = await store.getExplanation(props.message, offset, length);
    if (!success) {
        showExplanationErrorToast();
    }
}

const handleTranslationClick = async (contextMenuContent: string) => {
    if (store.isWaitingForExplanation) {
        showTranslationErrorToast();
        return;
    }
    const offset = props.message.content.indexOf(contextMenuContent);
    const length = contextMenuContent.length;
    const success = await store.getTranslation(props.message, offset, length);
    if (!success) {
        showExplanationErrorToast();
    }
}

const showCorrectionsErrorTooltip = ref(false);
const showAnswerErrorTooltip = ref(false);

const correctionsErrorTooltipCoordinates: Ref<{ x: number; y: number }> = ref({
    x: 0,
    y: 0,
});
const answerErrorTooltipCoordinates: Ref<{ x: number; y: number }> = ref({
    x: 0,
    y: 0,
});

const handleShowCorrectionsErrorTooltip = (event: any) => {
    showCorrectionsErrorTooltip.value = true;
    showAnswerErrorTooltip.value = false;
    correctionsErrorTooltipCoordinates.value = {
        x:
            window.innerWidth - 280 <= event.pageX
                ? window.innerWidth - 250
                : event.pageX,
        y:
            window.innerHeight - 300 <= event.pageY
                ? window.innerHeight - 250
                : event.pageY,
    };
};

const handleShowAnswerErrorTooltip = (event: any) => {
    showAnswerErrorTooltip.value = true;
    showCorrectionsErrorTooltip.value = false;
    answerErrorTooltipCoordinates.value = {
        x:
            window.innerWidth - 280 <= event.pageX
                ? window.innerWidth - 250
                : event.pageX,
        y:
            window.innerHeight - 300 <= event.pageY
                ? window.innerHeight - 250
                : event.pageY,
    };
};

const handleCloseTooltips = () => {
    showCorrectionsErrorTooltip.value = false;
    showAnswerErrorTooltip.value = false;
};

const handleRetryRequest = () => {
    handleCloseTooltips();
    store.sendRetryRequest(props.message.id);
}

const showExplanationErrorToast = () => {
    toast(t("error.explanationInProgress"), {
        autoClose: 2000,
        position: toast.POSITION.TOP_LEFT,
        transition: toast.TRANSITIONS.SLIDE,
        type: toast.TYPE.ERROR
    });
}

const showTranslationErrorToast = () => {
    toast(t("error.translationInProgress"), {
        autoClose: 2000,
        position: toast.POSITION.TOP_LEFT,
        transition: toast.TRANSITIONS.SLIDE,
        type: toast.TYPE.ERROR
    });
}

</script>

<template>
    <div class="select-none">
        <div class="xs:mb-6 md:mb-5 flex" :class="{ 'justify-end': props.self }">
            <!--avatar-->
            <div v-if="!props.self" class="mr-4">
                <div :aria-label="getFullName(props.message.sender)" class="outline-none">
                    <div :style="{ backgroundImage: `url(${avatarSmileBig})` }"
                        class="w-[36px] h-[36px] bg-cover bg-center rounded-full"></div>
                </div>
            </div>

            <div class="flex max-width-minus-84 items-center">
                <!--corrections error button-->
                <IconButton v-if="props.message.hasCorrectionsError" @click="handleShowCorrectionsErrorTooltip"
                    class="bg-transparent active:scale-110" variant="ghost" title="show message error"
                    aria-label="show message error">
                    <icon-ph-warning-circle class="w-[26px] h-[26px] text-red-500" />
                </IconButton>

                <!--bubble-->
                <div class="group shadow-md" :class="{
                    'rounded-tl rounded-bl rounded-br ml-4 order-2 bg-gray-50 dark:bg-gray-600':
                        props.self,

                    'rounded-tr rounded-bl rounded-br mr-4  bg-indigo-100 dark:bg-gray-600':
                        !props.self,
                    'p-5': props.message.type !== 'placeholder' || !store.conversation?.hasAnswerError,
                    'p-4': props.message.type === 'placeholder' && store.conversation?.hasAnswerError
                }">

                    <!--content-->
                    <ThreeDotsLoader v-if="props.message.type === 'placeholder' && !store.conversation?.hasAnswerError" />
                    <IconButton v-else-if="props.message.type === 'placeholder' && store.conversation?.hasAnswerError"
                        @click="handleShowAnswerErrorTooltip" class="bg-transparent active:scale-110" variant="ghost"
                        title="show answer error" aria-label="show answer error">
                        <icon-ph-warning-circle class="w-[26px] h-[26px] text-red-500" />
                    </IconButton>

                    <ServerMessage v-else-if="props.message.sender.id === 0" :message="props.message"
                        @explain-clicked="handleExplanationClick" @translate-clicked="handleTranslationClick">
                    </ServerMessage>

                    <UserMessage v-else :message="props.message.content" :corrections="props.message.corrections">
                    </UserMessage>
                </div>
            </div>

            <!--avatar-->
            <div v-if="props.self" class="ml-4">
                <div :aria-label="getFullName(props.message.sender)" class="outline-none">
                    <div :style="{ backgroundImage: `url(${avatarSmileGrin})` }"
                        class="w-[36px] h-[36px] bg-cover bg-center rounded-full"></div>
                </div>
            </div>
        </div>
        <CorrectionsErrorTooltip :message="props.message" :show="showCorrectionsErrorTooltip" :coordinates="{
            left: correctionsErrorTooltipCoordinates.x + 'px',
            top: correctionsErrorTooltipCoordinates.y + 'px',
        }" :close-tooltip="handleCloseTooltips" :handle-click-outside="handleCloseTooltips" :position="['top-0']">
        </CorrectionsErrorTooltip>
        <AnswerErrorTooltip @retry-request="handleRetryRequest" :message="props.message" :show="showAnswerErrorTooltip"
            :coordinates="{
                left: answerErrorTooltipCoordinates.x + 'px',
                top: answerErrorTooltipCoordinates.y + 'px',
            }" :close-tooltip="handleCloseTooltips" :handle-click-outside="handleCloseTooltips" :position="['top-0']">
        </AnswerErrorTooltip>
    </div>
</template>
