<script setup lang="ts">
import type { Ref } from "vue";
import { IMessage } from "@/types/types";

const props = defineProps<{
    message: IMessage;
}>();

const messageElement: Ref<HTMLElement | null> = ref(null);
const showContextMenu = ref(false);
const canCloseContextMenu = ref(false);
const contextMenuContent = ref("");
const isSelecting = ref(false);

const contextMenuCoordinates: Ref<{ x: number; y: number }> = ref({
    x: 0,
    y: 0,
});

// open context menu.
const openContextMenu = (event: any, content: string) => {
    console.log("Opening context menu");
    showContextMenu.value = true;

    canCloseContextMenu.value = false;
    setTimeout(() => {
        canCloseContextMenu.value = true;
    }, 300);

    contextMenuContent.value = content;
    contextMenuCoordinates.value = {
        x:
            window.innerWidth - 220 <= event.pageX
                ? window.innerWidth - 250
                : event.pageX,
        y:
            window.innerHeight - 300 <= event.pageY
                ? window.innerHeight - 250
                : event.pageY,
    };
};

// closes the context menu
const handleCloseContextMenu = () => {
    console.log("Closing context menu");
    if (canCloseContextMenu.value) {
        showContextMenu.value = false;
        canCloseContextMenu.value = false;
    }

};

const processedMessage = computed(() => {
    const regex = /([a-zA-ZäöüÄÖÜß]+[\s\p{P}]*)/gu;
    const parts: string[] = props.message.content.match(regex) || [];
    return parts;
});

const onSelect = (event: any) => {
    if (isSelecting.value) {
        const selection = window.getSelection();
        if (!selection || !selection.anchorNode || !selection.focusNode || selection.rangeCount === 0) return;

        // Reset the selection
        const focusOffset = selection.focusNode.nodeValue?.length || 0;
        const newRange = document.createRange();
        newRange.setStart(selection.anchorNode, 0);
        newRange.setEnd(selection.focusNode, focusOffset);

        selection.removeAllRanges();
        selection.addRange(newRange);
        const selectedText = selection.toString();
        openContextMenu(event, selectedText);
        isSelecting.value = false;
    }
}

const startSelecting = () => {
    isSelecting.value = true;
}

onMounted(() => {
    window.addEventListener("mouseup", onSelect);
});

onUnmounted(() => {
    window.removeEventListener("mouseup", onSelect);
});
</script>

<template>
    <div>
        <span v-for="(word, index) in processedMessage" :key="index" @mousedown="startSelecting"
            @mouseup="onSelect($event)">
            <Typography ref="messageElement" variant="body-3" noColor dir="ltr"
                class="outline-none text-gray-700 dark:text-gray-200 select-text" v-html="word">
            </Typography>
        </span>
        <ContextMenu :message="props.message" :show="showContextMenu" :left="contextMenuCoordinates.x"
            :top="contextMenuCoordinates.y" :handle-close-context-menu="handleCloseContextMenu"
            @explain-clicked="$emit('explain-clicked', contextMenuContent)"
            @translate-clicked="$emit('translate-clicked', contextMenuContent)" />
    </div>
</template>
