<script setup lang="ts">
import type {
    ICorrection,
} from "@/types/types";
import type { Ref } from "vue";
import correctionClassMapping from "@/assets/correctionClassMapping.json"

const props = defineProps<{
    message: string;
    corrections: ICorrection[] | undefined
}>();

const currentTooltip = ref({
    text: "",
    title: "",
    body: "",
    class: ""
});

const showCorrectionTooltip = ref(false);

const correctionTooltipCoordinates: Ref<{ x: number; y: number }> = ref({
    x: 0,
    y: 0,
});

const handleShowCorrectionTooltip = (event: any, text: string, body: string, headerClass: string) => {
    console.log("Showing tooltip")
    showCorrectionTooltip.value = true;
    const split = body.split("|", 2);
    currentTooltip.value = {
        text,
        title: split[0],
        body: split[1],
        class: headerClass
    };
    correctionTooltipCoordinates.value = {
        x:
            window.innerWidth - 280 <= event.pageX
                ? window.innerWidth - 250
                : event.pageX,
        y:
            window.innerHeight - 300 <= event.pageY
                ? window.innerHeight - 250
                : event.pageY,
    };
};

const handleCloseCorrectionTooltip = () => {
    showCorrectionTooltip.value = false;
};

const processedMessage = computed(() => {
    if (props.corrections) {
        return processMessage(props.message, props.corrections);
    } else {
        return [{
            text: props.message,
            title: null,
            body: null,
            class: null
        }];
    }

});

const processMessage = (message: string, corrections: ICorrection[]) => {
    let processedParts = [];
    let lastOffset = 0;

    corrections.sort((a, b) => a.offset - b.offset);

    corrections.forEach(correction => {
        processedParts.push({
            text: message.substring(lastOffset, correction.offset),
            body: null,
            class: null
        }
        );
        const decorationClass = correctionClassMapping[correction.category as keyof typeof correctionClassMapping]
        processedParts.push({
            text: message.substring(correction.offset, correction.offset + correction.length),
            body: correction.body,
            class: decorationClass
        });
        lastOffset = correction.offset + correction.length;
    });
    processedParts.push({
        text: message.substring(lastOffset),
        body: null,
        class: null
    });

    return processedParts;
}

</script>

<template>
    <span v-for="(part, index) in processedMessage" :key="index">
        <Typography v-if="!part.body || !part.class" variant="body-3" noColor dir="ltr"
            class="outline-none text-gray-700 dark:text-gray-200"> {{ part.text }}
        </Typography>
        <Typography v-else variant="body-3" @click="handleShowCorrectionTooltip($event, part.text, part.body, part.class)"
            dir="ltr" noColor class="outline-none text-gray-700 dark:text-gray-200" :class="part.class">
            {{ part.text }}
        </Typography>
    </span>
    <CorrectionTooltip :message="props.message" :show="showCorrectionTooltip" :coordinates="{
        left: correctionTooltipCoordinates.x + 'px',
        top: correctionTooltipCoordinates.y + 'px',
    }" :close-tooltip="handleCloseCorrectionTooltip" :handle-click-outside="handleCloseCorrectionTooltip"
        :position="['top-0']" :header="currentTooltip.text" :title="currentTooltip.title" :body="currentTooltip.body"
        :correctionType="currentTooltip.class">
    </CorrectionTooltip>
</template>
