<script setup lang="ts">
import { twMerge } from "tailwind-merge";
import useStore from "@/store/store";

const store = useStore();

const props = defineProps<{
    variant?: string;
    noColor?: boolean;
    class?: any;
    customStyle?: string;
    dir?: "ltr" | "rtl";
}>();

const style = computed(() => {
    // heading texts
    if (props.variant && props.variant.includes("heading")) {
        if (props.variant === "heading-1") {
            return props.noColor
                ? "text-xl leading-4 tracking-[0.16px]"
                : "text-gray-700 dark:text-white text-xl leading-4 tracking-[0.16px]";
        }

        if (props.variant === "heading-2") {
            return props.noColor
                ? "outline-none font-semibold leading-4 tracking-[0.16px]"
                : "outline-none text-gray-700 dark:text-gray-200 font-semibold leading-4 tracking-[0.16px]";
        }

        if (props.variant === "heading-3") {
            return props.noColor
                ? "outline-none text-xs font-semibold leading-4 tracking-[0.16px]"
                : "outline-none text-xs text-black opacity-50 dark:text-gray-200 font-semibold leading-4 tracking-[0.16px]";
        }

        if (props.variant === "heading-4") {
            return props.noColor
                ? "outline-none text-3xl leading-9 tracking-[0.16px]"
                : "outline-none text-3xl text-black opacity-50 dark:text-gray-200 leading-9 tracking-[0.16px]";
        }
    }

    // body texts
    else if (props.variant && props.variant.includes("body")) {
        if (props.variant === "body-1") {
            return props.noColor
                ? "outline-none text-xs font-semibold leading-5 tracking-[0.16px] block"
                : "outline-none text-xs text-gray-700 dark:text-gray-200 font-semibold leading-5 tracking-[0.16px] block";
        } else if (props.variant === "body-2") {
            return props.noColor
                ? "outline-none font-normal leading-5 tracking-[0.16px] block"
                : "outline-none text-gray-700 dark:text-gray-200 font-normal leading-5 tracking-[0.16px] block";
        } else if (props.variant === "body-3") {
            return props.noColor
                ? "outline-none font-normal leading-5 tracking-[0.16px]"
                : "outline-none text-gray-700 dark:text-gray-200 font-normal leading-5 tracking-[0.16px]";
        } else if (props.variant === "body-4") {
            return props.noColor
                ? "outline-none text-sm font-normal leading-5 tracking-[0.16px]"
                : "outline-none text-sm text-gray-700 dark:text-gray-200 font-normal leading-5 tracking-[0.16px]";
        } else if (props.variant === "body-5") {
            return props.noColor
                ? "outline-none text-[16px] font-light leading-4 tracking-[0.16px]"
                : "outline-none text-[16px] font-light text-gray-700 dark:text-gray-200 leading-4 tracking-[0.16px]";
        }
    }

    // display texts
    else if (props.variant && props.variant === "display") {
        return props.noColor
            ? "outline-none font-display text-[28px] leading-[34px] tracking-[0px]"
            : "outline-none font-display text-[28px] text-gray-700 dark:text-gray-200 leading-[34px] tracking-[0px]";
    }

    // buttons texts
    else if (props.variant && props.variant?.includes("button")) {
        if (props.variant === "button-1") {
            return props.noColor
                ? "font-semibold leading-4 tracking-[0.16px]"
                : "font-semibold text-white leading-4 tracking-[0.16px]";
        } else if (props.variant === "button-2") {
            return props.noColor
                ? "leading-4 tracking-[0.16px] font-semibold"
                : `leading-4 tracking-[0.16px] font-semibold opacity-60 group-hover:text-white group-hover:opacity-100
                group-focus:text-white group-focus:opacity-100 dark:text-gray-200`;
        } else if (props.variant === "button-3") {
            return props.noColor
                ? "leading-4 tracking-[0.16px]"
                : "leading-4 tracking-[0.16px] text-gray-700 dark:text-gray-200";
        } else if (props.variant === "button-4") {
            return props.noColor
                ? "leading-4 tracking-[0.16px]"
                : "leading-4 tracking-[0.16px] text-red-400 dark:group-hover:text-white";
        } else if (props.variant === "button-5") {
            return "text-sm"
        }
    }

    // default to body-2
    else {
        return props.noColor
            ? "outline-none font-normal leading-5 tracking-[0.16px] block"
            : "outline-none text-gray-700 dark:text-gray-200 font-normal leading-5 tracking-[0.16px] block";
    }
});

const textStyle = computed(() => twMerge(style.value, props.customStyle, props.class));
</script>

<template>
    <span :class="textStyle" :dir="props.dir ? props.dir : store.dir">
        <slot></slot>
    </span>
</template>
