<script setup lang="ts">
import type { Ref } from "vue";
import type { IEmoji } from "@/types/types";

import { unicodeToEmoji } from "@/utils";

import emojis from "@/components/ui/input/EmojiPicker/emojis.json";

interface IEmojiGroups {
  people: IEmoji[];
  nature: IEmoji[];
  food: IEmoji[];
  activity: IEmoji[];
  travel: IEmoji[];
  objects: IEmoji[];
  symbols: IEmoji[];
  flags: IEmoji[];
}

type EmojiGroupNames =
  | "people"
  | "nature"
  | "food"
  | "activity"
  | "objects"
  | "travel"
  | "flags";

const props = defineProps<{
  keyword: string;
  activeTab: string;
}>();

// emojis filtered by skintone and keyword
const filteredEmojis: Ref<IEmojiGroups> = ref(emojis);

// Search for the emojis.
const filterEmojis = () => {
  const _emojiGroups = {} as IEmojiGroups;

  // search emojis
  Object.keys(emojis).forEach((key) => {
    const _emojis: IEmoji[] = [];
    if (key === props.activeTab) {
      (emojis as IEmojiGroups)[key as EmojiGroupNames].forEach((emoji) => {
        // if search key match
        if (emoji["n"][0].includes(props.keyword.toLocaleLowerCase())) {
          let result = emoji.u;
          return _emojis.push({ ...emoji, r: result });
        }
      });

      // save filtered group to _emojiGroups
      if (_emojis.length) {
        _emojiGroups[key as EmojiGroupNames] = _emojis;
      }
    }
  });
  return _emojiGroups;
};

// (watcher) change the filtered emojis when the search keyword change
watch(
  () => [props.keyword, props.activeTab],
  async () => {
    filteredEmojis.value = filterEmojis();
  }
);

// when mounting the component filter the emojis
onMounted(() => {
  filteredEmojis.value = filterEmojis();
});
</script>

<template>
  <ScrollBox class="w-full max-h-[274px] overflow-y-scroll">
    <div v-for="[name, group] in Object.entries(filteredEmojis)" class="mb-6">
      <div class="flex flex-wrap justify-start">
        <!--Emojis-->
        <div v-for="emoji in group">
          <IconButton @click="$emit('emoji-click', unicodeToEmoji(emoji.r))" v-if="emoji && emoji.r"
            class="w-[30px] h-[30px] mr-1" :title="emoji.n[0]" :aria-label="emoji.n[0]">
            {{ unicodeToEmoji(emoji.r) }}
          </IconButton>
        </div>
      </div>
    </div>
  </ScrollBox>
</template>
