<script setup lang="ts">


const props = defineProps<{
    show: boolean;
    coordinates?: {
        left?: string;
        top?: string;
    };
    position: string[];
    closeDropdown: () => void;
}>();

const handleCloseOnEscape = (event: KeyboardEvent) => {
    if (["Escape", "Esc"].includes(event.key)) {
        props.closeDropdown();
    }
};

onMounted(() => {
    document.addEventListener("keydown", handleCloseOnEscape);
});

onUnmounted(() => {
    document.removeEventListener("keydown", handleCloseOnEscape);
});
</script>

<template>
    <ScaleTransition>
        <div :class="props.position" :style="props.coordinates" v-show="props.show"
            class="absolute z-[100] w-[200px] mt-2 rounded-sm bg-white dark:bg-gray-800 shadow-lg border border-gray-100 dark:border-gray-600 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div role="none">
                <slot></slot>
            </div>
        </div>
    </ScaleTransition>
</template>
