<script setup lang="ts">

const props = defineProps<{
    handleClick?: () => void;
    label?: string;
}>();

</script>

<template>
    <button :aria-label="props.label" @click.prevent="props.handleClick" class="w-full px-4 py-3 flex items-center border-b opacity-60
    dark:opacity-70 outline-none text-sm  border-gray-200 dark:border-gray-600 transition-all duration-200 text-black dark:text-white
    active:bg-gray-100 dark:hover:bg-gray-600 dark:focus:bg-gray-600 hover:bg-gray-50" role="menuitem">
        <slot></slot>
    </button>
</template>
