<script setup lang="ts">
import type { Ref } from "vue";
import useStore from "@/store/store";

const store = useStore();
const isOpen = ref(true);
const container: Ref<HTMLElement | null> = ref(null);


const toggleDrawer = () => {
    isOpen.value = !isOpen.value
}

const processedExplanations = computed(() => {
    return store.conversation?.explanations.map(explanation => {
        const referencedMessage = store.conversation?.messages.find(m => m.id === explanation.message_id);
        return { ...explanation, message: referencedMessage?.content }
    })
})

const isUserAtBottom = () => {
    const containerElement = container.value as HTMLElement;
    const tolerance = 200;

    return (
        containerElement.scrollTop + containerElement.clientHeight >=
        containerElement.scrollHeight - tolerance
    );
}

const scrollToBottom = () => {
    nextTick(() => {
        const element = (container.value as HTMLElement);
        element.scrollTo(0, element.scrollHeight);
    });
}

watch(
    () => store.conversation?.explanations,
    (newExplanations, oldExplanations) => {
        if (isUserAtBottom()) {
            scrollToBottom();
        }
    },
    { deep: true }
);

watch(
    () => store.isWaitingForExplanation,
    (newValue, oldValue) => {
        if (newValue) {
            isOpen.value = true;
            scrollToBottom();
        }
    }
);
</script>

<template>
    <aside :class="isOpen ? 'w-[600px]' : 'w-[50px]'"
        class="relative h-full xs:px-5 md:p-0 flex flex-col transition-width duration-300 ease-in-out bg-indigo-50 dark:bg-gray-900">
        <IconButton @click="toggleDrawer"
            class="absolute top-[1.25rem] left-[10px] group w-[32px] h-[32px] bg-transparent  dark:bg-gray-900 active:scale-110"
            variant="ghost" title="open/close drawer" aria-label="open/close drawer">
            <icon-ph-caret-circle-right v-if="isOpen" class="w-[32px] h-[32px] text-gray-500 dark:text-gray-200" />
            <icon-ph-info v-else class="w-[32px] h-[32px] text-gray-500 dark:text-gray-200" />
        </IconButton>
        <div ref="container" v-if="isOpen"
            class="scroll-container-explanations grow w-full h-full mt-[60px] pb-[70px] p-5 space-y-6 overflow-y-scroll scrollbar-hidden scroll-smooth">
            <TransitionGroup name="slide-left">
                <ExplanationCard v-for="(explanation, index) in processedExplanations" :key="index" :type="explanation.type"
                    :message="explanation.message" :offset="explanation.offset" :length="explanation.length"
                    :content="explanation.content" />
            </TransitionGroup>
        </div>
    </aside>
</template>

<style>
.slide-left-move,
.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.2s;
}

.slide-left-enter-from {
    opacity: 0;
    transform: translateX(30px);
}

.slide-left-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}

.slide-left-leave-active {
    position: absolute;
}
</style>