<script setup lang="ts">
import ThreeDotsLoader from '~icons/svg-spinners/3-dots-fade'

const props = defineProps<{
    type: string;
    message: string;
    offset: number;
    length: number,
    content: string;
}>();

const processString = (s: string) => {
    const regex = /([a-zA-ZäöüÄÖÜß]+[\s\p{P}]*)/gu;
    const parts: string[] = s.match(regex) || [];
    return parts;
};

const context = computed(() => {
    const main = props.message.substring(props.offset, props.offset + props.length);
    const wordsBefore = processString(props.message.substring(0, props.offset));
    const wordsAfter = processString(props.message.substring(props.offset + props.length));

    return constructBeforeMainAfter(wordsBefore, main, wordsAfter);
})

const translation = computed(() => {
    const parts = props.content.split("x|x");
    if (parts.length === 3) {
        const wordsBefore = processString(parts[0]);
        const wordsAfter = processString(parts[2]);
        return constructBeforeMainAfter(wordsBefore, parts[1], wordsAfter);
    } else {
        return {
            before: props.content,
            main: "",
            after: ""
        }
    }
})

const constructBeforeMainAfter = (wordsBefore: string[], main: string, wordsAfter: string[]) => {
    const before = wordsBefore.length > 0 ? (props.offset === 0 ? "" : "...") + wordsBefore[wordsBefore.length - 1] : ""
    const after = wordsAfter.length > 0 ? wordsAfter[0] + ((props.offset + props.length === props.message.length ? "" : "...")) : ""
    return {
        before,
        main,
        after
    }
}

</script>

<template>
    <div
        class="flex flex-col space-y-5 bg-white dark:bg-gray-600 py-4 px-7 rounded border-2 dark:border-gray-800 shadow-md z-20">
        <!-- Type Section -->
        <div v-if="type === 'explanation'" class="flex flex-row justify-end items-center">
            <icon-ph-info class="text-gray-700 dark:text-gray-200" />
            <Typography variant="heading-3" noColor class="outline-none text-gray-700 dark:text-gray-200">
                {{ $t("chat.explanation") }}
            </Typography>
        </div>
        <div v-else class="flex flex-row justify-end items-center">
            <icon-ph-translate class="text-gray-700 dark:text-gray-200" />
            <Typography variant="heading-3" noColor class="outline-none text-gray-700 dark:text-gray-200">
                {{ $t("chat.translation") }}
            </Typography>
        </div>

        <!-- Context Section -->
        <div class="border-t border-b dark:border-gray-500 py-5">
            <Typography variant="body-3" noColor class="outline-none text-gray-700 dark:text-gray-200" dir="ltr"> {{
                context.before }}
            </Typography>
            <Typography variant="body-3" noColor dir="ltr"
                class="outline-none text-gray-700 dark:text-gray-200 explanation-highlight">
                {{ context.main }}
            </Typography>
            <Typography v-if="context.after" variant="body-3" noColor class="outline-none text-gray-700 dark:text-gray-200"
                dir="ltr"> {{
                    context.after }}
            </Typography>
        </div>

        <!-- Content Section -->
        <Typography v-if="type === 'explanation'" variant="body-4" noColor
            class="outline-none text-gray-700 dark:text-gray-200" style="white-space: pre-wrap;">
            {{ content }}
        </Typography>
        <div v-else-if="type === 'translation'">
            <Typography variant="body-4" noColor class="outline-none text-gray-700 dark:text-gray-200"> {{
                translation.before }}
            </Typography>
            <Typography v-if="translation.main" variant="body-4" noColor
                class="outline-none text-gray-700 dark:text-gray-200 explanation-highlight">
                {{ translation.main }}
            </Typography>
            <Typography v-if="translation.after" variant="body-4" noColor
                class="outline-none text-gray-700 dark:text-gray-200"> {{ translation.after
                }}
            </Typography>
        </div>
        <ThreeDotsLoader v-else />
    </div>
</template>