<script setup lang="ts">
import useStore from "@/store/store";

// Refactoring code:
// todo refactor ui components to use component utilities.
// todo refactor remove getters from utils file and add them to store folder.

// Performance:
// todo add dynamic imports.
// todo add chunking.

const store = useStore();

// update localStorage with state changes
store.$subscribe((_mutation, state) => {
	localStorage.setItem("chat", JSON.stringify(state));
});

// here we load the data from the server.
onBeforeMount(async () => {
	await store.fetchUserData("step1");
});

// the app height
const height = ref(`${window.innerHeight}px`);

// change the app height to the window hight.
const resizeWindow = () => {
	height.value = `${window.innerHeight}px`;
};

// and add the resize event when the component mounts.
onMounted(() => {
	window.addEventListener("resize", resizeWindow);
});

// remove the event when un-mounting the component.
onUnmounted(() => {
	window.removeEventListener("resize", resizeWindow);
});
</script>

<template>
	<div :class="{ dark: store.settings.darkMode }">
		<div class="flex flex-row bg-off-white dark:bg-gray-800" :style="{ height: height }">
			<Navigation class="xs:order-1 md:-order-none" />
			<router-view class="w-full" v-slot="{ Component }">
				<FadeTransition>
					<component :is="Component" />
				</FadeTransition>
			</router-view>
		</div>
	</div>
</template>
