<script setup lang="ts">
import useStore from "@/store/store";
import { useRoute, onBeforeRouteUpdate } from "@vue-router";

import Chat from "@/components/Home/Chat/Chat.vue";
import Loading3 from "@/components/states/loading-states/Loading3.vue";
import { onBeforeRouteLeave } from "@vue-router";

const store = useStore();
const route = useRoute();

// the active chat component or loading component.
const activeChatComponent = computed(() => {
    if (store.status === "loading") {
        return Loading3;
    } else {
        return Chat;
    }
});

onMounted(async () => {
    console.log('Component mounted', new Date().getTime());
    console.log(store.status);
    const chatId = "id" in route.params ? route.params.id : "0";
    await store.initializeWebSocket(chatId, "success");
});

onBeforeRouteLeave((to, from) => {
    store.closeConnection();
    return true;
})

onBeforeRouteUpdate(async (to, from) => {
    store.closeConnection();
    if ("id" in to.params && "id" in from.params && to.params.id !== from.params.id) {
        await store.initializeWebSocket(to.params.id, "success");
    }
})
</script>

<template>
    <KeepAlive>
        <div class="xs:relative md:static h-full flex xs:flex-col md:flex-row overflow-hidden">
            <!-- Chat content -->
            <div id="mainContent"
                class="xs:absolute flex xs:z-10 md:static grow h-full xs:w-full md:w-fit scrollbar-hidden bg-off-white dark:bg-gray-800 xs:left-[0px] justify-center"
                role="region">
                <FadeTransition name="fade" mode="out-in">
                    <component :is="activeChatComponent" />
                </FadeTransition>
            </div>

            <!-- Explanation drawer -->
            <Drawer class="xs:grow-1 md:grow-0 xs:overflow-y-scroll md:overflow-visible scrollbar-hidden shadow-xl z-10" />
            <NoAnswerModal :open-modal="store.showTimeoutModal" :close-modal="() => (store.showTimeoutModal = false)" />
            <ConnectionLostModal :open-modal="store.connectionLost" :close-modal="() => (store.connectionLost = false)" />
            <MessageErrorModal :open-modal="store.showMessageErrorModal"
                :close-modal="() => (store.showMessageErrorModal = false)" />
        </div>
    </KeepAlive>
</template>

<route lang="yaml">
    name: chat
</route>