<script setup lang="ts"></script>
<template>
	<header>
		<app-header />
	</header>

	<main class="
			p-8
			dark:bg-gray-800 dark:text-gray-200
			bg-off-white
			text-gray-700
			min-h-screen
		">
		<router-view />
	</main>
</template>
