<script setup lang="ts">
import cefLevels from "@/assets/cefLevelsEn.json"
import languages from "@/assets/targetLanguages.json";
import { getLanguageFlag } from "@/utils";
import useStore from "@/store/store";
import { useRouter } from "@vue-router";

const store = useStore();
const { locale } = useI18n();
const router = useRouter();

const index = cefLevels.findIndex(item => item.code === store.targetLevel);
const languageName = languages.find(item => item.code === store.targetLanguage)?.name;

const createChat = async () => {
    const newChat = await store.createChat("success", "step4");
    if (newChat) {
        router.replace({ path: `/chat/${newChat.id}/` })
    }
}
</script>

<template>
    <div class="flex flex-col items-center space-y-6">
        <h1 class="text-xl font-bold text-center">{{ $t("init.chatSummaryHeader") }}</h1>
        <div class="max-h-[calc(100vh - 200px)] overflow-y-auto scrollbar-hidden p-5">
            <div class="flex flex-col items-center w-full">

                <!-- Two cards side by side -->
                <div class="flex w-full space-x-6">

                    <div class="flex flex-col items-center justify-center space-y-5 cursor-pointer hover:bg-gray-200 bg-white py-6 px-4 rounded border-2 w-32"
                        @click="store.setStatus('step2')">
                        <img :src="getLanguageFlag(store.targetLanguage)" :alt="store.targetLanguage"
                            class="h-16 rounded-sm">
                        <span class="text-xl tracking-wide">{{ languageName }}</span>
                    </div>

                    <!-- Right Card: CEFR Level -->
                    <div class="flex flex-col items-center justify-center space-y-5 cursor-pointer hover:bg-gray-200 bg-white py-6 px-4 rounded border-2 w-32"
                        @click="store.setStatus('step3')">
                        <div :class="`bg-indigo-${100 * index + 100} ${index <= 2 ? 'text-gray-700' : 'text-white'}`"
                            class="flex-shrink-0  rounded-full w-16 h-16 flex items-center justify-center">
                            {{ store.targetLevel }}
                        </div>
                        <span class="text-xl tracking-wide" :dir="locale === 'ar' ? 'rtl' : 'ltr'">{{ $t("init.level") + " "
                            + store.targetLevel }}</span>
                    </div>

                </div>

                <!-- Button below the cards -->
                <Button
                    class="w-full py-4 mt-6 group bg-indigo-400 hover:bg-indigo-500 focus:bg-indigo-500 dark:focus:bg-indigo-300 dark:bg-indigo-400 dark:hover:bg-indigo-400 active:scale-110 text-white"
                    @click="createChat">
                    {{ $t("init.startChat") }}
                </button>

            </div>
        </div>
        <ChatCreationErrorModal :open-modal="store.showChatCreationModal"
            :close-modal="() => (store.showChatCreationModal = false)" />
    </div>
</template>
  
  