<script setup lang="ts">
import useStore from "@/store/store";

const store = useStore();
</script>

<template>
    <div class="flex flex-col h-full w-full">
        <StepIndicator />
        <SlideTransition animation="slide-left">
            <SourceLanguageSelection v-if="store.status === 'step1'" class="xs:mt-8 xs:mb-8 md:mt-40 overflow-auto" />
            <TargetLanguageSelection v-if="store.status === 'step2'" class="xs:mt-8 xs:mb-8 md:mt-40 overflow-auto" />
            <ProficiencyLevelSelection v-if="store.status === 'step3'" class="xs:mt-8 xs:mb-8 md:mt-40 overflow-auto" />
            <ChatSummary v-if="store.status === 'step4'" class="xs:mt-8 xs:mb-8 md:mt-40 overflow-auto" />
        </SlideTransition>
    </div>
</template>

