<script setup lang="ts">
import cefLevelsDe from "@/assets/cefLevelsDe.json"
import cefLevelsEn from "@/assets/cefLevelsEn.json"
import useStore from "@/store/store";

const store = useStore();
const { t } = useI18n();

const cefLevels = store.targetLanguage === "de" ? cefLevelsDe : cefLevelsEn;
const getTypographyHTML = (content: string) => {
    return t("init.example") + (store.dir === "ltr" ? `: ${content}` : `: <span dir="ltr">${content}</span>`);
}

const selectLevel = (code: string) => {
    console.log("Selected Level:", code);
    store.targetLevel = code;
    store.setStatus("step4");
};
</script>

<template>
    <div class="flex flex-col items-center space-y-6">
        <h1 class="text-xl font-bold text-center">{{ store.targetLanguage === "de" ?
            $t("init.proficiencySelectionHeaderGerman") :
            $t("init.proficiencySelectionHeaderEnglish") }}</h1>
        <div class="max-h-[calc(100vh - 200px)] overflow-y-auto scrollbar-hidden p-5">
            <div class="flex flex-wrap flex-col items-center space-y-5">
                <div v-for="(level, index) in cefLevels" :key="level.code" :dir="store.dir" @click="selectLevel(level.code)"
                    class="flex items-center cursor-pointer hover:bg-gray-200 bg-white text-xl tracking-wide py-4 px-5 rounded border-2 xs:w-10/12 w-[500px] shadow-sm">

                    <!-- Circle with CEFR level code -->
                    <div :class="`bg-indigo-${100 * index + 100} ${index <= 2 ? 'text-gray-700' : 'text-white'}`"
                        class="flex-shrink-0  rounded-full w-16 h-16 flex items-center justify-center">
                        {{ level.code }}
                    </div>

                    <!-- Texts -->
                    <div class="flex flex-col ltr:ml-4 rtl:mr-4">
                        <Typography variant=" heading-2" class="transition-all ease-in-out duration-300">
                            {{ $t(`init.level${level.code}`) }}
                        </Typography>
                        <Typography variant="body-5" class="mt-2 transition-opacity duration-300"
                            v-html="getTypographyHTML(level.example)">
                        </Typography>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
  
  