<script setup lang="ts">
import languages from "@/assets/sourceLanguages.json";
import { getLanguageFlag } from "@/utils";
import useStore from "@/store/store";

const store = useStore();

const { t, locale } = useI18n();

const defaultHeaderText = t("init.sourceLanguageSelectionHeader");
const defaultSubheaderText = t("init.sourceLanguageSelectionSubheader");
const headerText = ref(defaultHeaderText);
const subheaderText = ref(defaultSubheaderText);

const selectLanguage = (code: string) => {
    console.log("Selected Language:", code);
    store.setLocale(null, code);
    store.setStatus("step2");
};

const onLanguageHover = (code: string) => {
    headerText.value = t("init.sourceLanguageSelectionHeader", 1, { locale: code });
    subheaderText.value = t("init.sourceLanguageSelectionSubheader", 1, { locale: code });
};

const onLanguageLeave = () => {
    headerText.value = defaultHeaderText;
    subheaderText.value = defaultSubheaderText;
};
</script>

<template>
    <div class="flex flex-col items-center space-y-6">
        <h1 class="text-xl font-bold text-center">
            {{ headerText }}<br>{{ subheaderText }}
        </h1>
        <div class="max-h-[calc(100vh - 200px)] overflow-y-auto scrollbar-hidden p-5">
            <div class="grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-7">
                <div v-for="language in languages" :key="language.code"
                    class="flex flex-col items-center space-y-5 cursor-pointer hover:bg-gray-200 bg-white py-6 px-4 rounded border-2 shadow-sm"
                    @click="selectLanguage(language.code)" @mouseenter="onLanguageHover(language.code)"
                    @mouseleave="onLanguageLeave">
                    <img :src="getLanguageFlag(language.code)" :alt="language.name" class="w-11 rounded-sm">
                    <span class="text-xl tracking-wide">{{ language.name }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
