<script setup lang="ts">
import useStore from "@/store/store";

const store = useStore();

const indicatorClass = computed(() => {
    switch (store.status) {
        case 'step1':
            return 'w-1/4';
        case 'step2':
            return 'w-1/2';
        case 'step3':
            return 'w-3/4';
        case 'step4':
            return 'w-full';
        default:
            return 'w-0';
    }
});
</script>

<template>
    <div class="relative h-[10px] bg-gray-200 xs:m-5 md:m-10 rounded-lg">
        <div :class="indicatorClass"
            class="absolute h-full top-0 left-0 bg-indigo-500 transition-all duration-300 rounded-lg"></div>
    </div>
</template>
  