<script setup lang="ts">
import languages from "@/assets/targetLanguages.json";
import { getLanguageFlag } from "@/utils";
import useStore from "@/store/store";

const store = useStore();
const selectLanguage = (code: string) => {
    store.setLocale(code, null);
    store.setStatus("step3");
};
</script>

<template>
    <div class="flex flex-col items-center space-y-6">
        <h1 class="text-xl font-bold text-center">
            {{ $t("init.targetLanguageSelectionHeader") }}
        </h1>
        <div class="max-h-[calc(100vh - 200px)] overflow-y-auto scrollbar-hidden p-5">
            <div class="grid grid-cols-2 gap-7">
                <div v-for="language in languages" :key="language.code"
                    class="flex flex-col items-center space-y-5 cursor-pointer hover:bg-gray-200 bg-white py-6 px-4 rounded border-2 shadow-sm"
                    @click="selectLanguage(language.code)">
                    <img :src="getLanguageFlag(language.code)" :alt="language.name" class="w-11 rounded-sm">
                    <span class="text-xl tracking-wide">{{ language.name }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
