@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* hidden scrollbar */
	.scrollbar-hidden::-webkit-scrollbar {
		@apply hidden;
	}

	.scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	/* custom outline */
	.default-outline {
		@apply focus-visible:outline-black dark:focus-visible:outline-white rounded-[4px];
	}

	.scroll-container-messages::after {
		content: '';
		position: absolute;
		bottom: 84px;
		left: 80px;
		right: 0;
		height: 70px;
		background: linear-gradient(transparent, 30%, #faf9f6);
		pointer-events: none;
	}

	.scroll-container-explanations::after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 16px;
		right: 16px;
		height: 70px;
		background: linear-gradient(transparent, 70%, #eef2ff);
		pointer-events: none;
	}

	.scroll-container-explanations::before {
		content: '';
		position: absolute;
		top: 60px;
		left: 16px;
		right: 16px;
		height: 70px;
		background: linear-gradient(#eef2ff, 20%, transparent);
		pointer-events: none;
	}

	.dark .scroll-container-messages::after {
		background: linear-gradient(transparent, 70%, #1f2937);
	}

	.dark .scroll-container-explanations::after {
		background: linear-gradient(transparent, 70%, #111827);
	}

	.dark .scroll-container-explanations::before {
		background: linear-gradient(#111827, 20%, transparent);
	}
}

.correction-spelling {
	@apply cursor-pointer underline underline-offset-4 decoration-red-500 decoration-2 hover:bg-red-200 dark:hover:text-gray-700;
}

.correction-grammar {
	@apply cursor-pointer underline underline-offset-4 decoration-yellow-500 decoration-2 hover:bg-yellow-200 dark:hover:text-gray-700;
}

.correction-style {
	@apply cursor-pointer underline underline-offset-4 decoration-indigo-500 decoration-2 hover:bg-indigo-200 dark:hover:text-gray-700;
}

.explanation-highlight {
	@apply underline underline-offset-4 decoration-indigo-500 decoration-2;
}

.max-width-minus-84 {
	max-width: min(450px, calc(100% - 84px));
}

/* Regular mode selection */
*::selection {
	background-color: rgb(199, 210, 254);
}

*::-moz-selection {
	background-color: rgb(199, 210, 254);
}

/* Dark mode selection with black text */
.dark *::selection {
	background-color: rgb(199, 210, 254);
	color: black;
}

.dark *::-moz-selection {
	background-color: rgb(199, 210, 254);
	color: black;
}
